@use "../../../sass/utils/mixins.scss" as *;
@use "../../../sass/utils/variables.scss" as *;

.boardControls {
  &_playBtn {
    @include flex($align-items: center, $justify-content: center);
    color: $white-color;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    background-color: $action-items-color;
    border: none;
    cursor: pointer;
    transition:
      filter 0.2s ease,
      box-shadow 0.2s ease;

    &:hover {
      filter: brightness(1.1);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    }

    &:active {
      filter: brightness(0.9);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    }
  }
}
