@mixin typography(
  $font-family: null,
  $font-weight: null,
  $font-size: null,
  $line-height: null,
  $letter-spacing: null,
  $text-align: null
) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-align: $text-align;
}

@mixin flex(
  $justify-content: null,
  $align-items: null,
  $gap: null,
  $flex-wrap: null,
  $flex-direction: null
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
  flex-wrap: $flex-wrap;
  flex-direction: $flex-direction;
}

@mixin position(
  $position: null,
  $top: null,
  $right: null,
  $left: null,
  $bottom: null
) {
  position: $position;
  top: $top;
  right: $right;
  left: $left;
  bottom: $bottom;
}

@mixin mob-s() {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin mob-l() {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tab() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desk-s() {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin desk-l() {
  @media screen and (min-width: 1920px) {
    @content;
  }
}
