$bg-color: #302e2b;
$dark-bg: #262421;
$white-color: #ffffff;
$action-items-color: #81b64c;
$bg-btn-color: #7fa650;
$bg-overlay: rgba(0, 0, 0, 0.4);
$modal-content: #333;
$modal-bg: #2b2b2b;
$modal-box-shadow: rgba(0, 0, 0, 0.5);
$base-black: #000;
$base-gray: #666;
$white-selected: #ccc;
$box-shadow: rgba(0, 0, 0, 0.2);
$board-overlay: rgba(0, 0, 0, 0.7);
$move-history-hover: #f0f0f0;
